@use '../abstracts/fonts';
@use '../abstracts/colors';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  background: colors.$primary;
  font-family: 'Poppins', sans-serif;
  font-size: fonts.$mainFont;
  scroll-behavior: smooth;
}

p {
  margin: 15px 0;
  line-height: 1.8;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}
